.drop-down-showcase {
  grid-area: showcase;
  width: 130px;
  margin: 44px auto;

  @media (max-width: 1203px) {
    display: none;
  }

  @media (max-width: 1336px) {
    margin: 84px auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
  }

  &__link {
    display: block;
    padding-bottom: 16px;
  }

  &__image {
    max-width: 130px;
    max-height: 100%;
  }
}