@import '../../../../variables';

.nav-link {
  display: flex;
  align-items: center;
  background: transparent;

  & > a {
    display: inline-block;
    padding: 0 12px;
    flex-grow: 1;
    color: #000;
    transition: color .3s;

    &:hover {
      color: $red-hover;
    }

    & > span {
      max-width: 100%;
      line-height: 48px;
      position: relative;
      top: -2px;
    }
  }
}