.icons-counter {
  position: absolute;
  top: -5px;
  left: calc(100% - 15px);
  z-index: 2;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  border-radius: 18px;
  border: 2px solid #fff;
  background-color: red;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}