.nav-link-new-year {

  &__wrapper {
    margin-right: 2px;
    width: 130px;
    line-height: 20px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #136222, #0c8626, #00ab26, #00d21f, #08fa06);
    border-radius: 20px;
  }

  &__link {
    color: #fff;
    font-size: 14px;
  }
}