.main {
  width: 100%;

  &__content {
    padding: 0 52px;
    min-width: 1000px;

    @media (min-width: 1200px) {
      padding: 0 76px;
    }

    @media (min-width: 1300px) {
      padding: 0 67px;
    }

    @media (min-width: 1480px) {
      padding: 0;
      margin: 0 auto;
      width: 1440px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    margin: 0 auto;
  }

  &__content-column-of-products {
    padding-right: 68px;
    width: calc(100% - 270px);
  }

  &__content-column-of-advertising {
    flex: 0 0 auto;
    width: 270px;
  }
}