.main {
  width: 100%;
  min-width: 1170px;

  @media (max-width: 1354px) {
    min-width: 1000px;
  }

  &__content {
    padding: 0 52px;
    min-width: 1170px;

    @media (max-width: 1354px) {
      min-width: 1000px;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    margin: 0 auto;
  }

  &__content-column-of-products {
    padding-right: 68px;
    width: calc(100% - 270px);
  }

  &__content-column-of-advertising {
    flex: 0 0 auto;
    width: 270px;
  }
}