.footer-one {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 1000px;
  height: 225px;
  margin: 0 auto -1px;
  padding: 0 24px;
  background-color: #f5f5f5;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1170px;
    padding-left: 22px;
    border-bottom: 1px solid #e8e8e8;

    @media (max-width: 1354px) {
      max-width: 1000px;
    }
  }

  &__left {
    margin-right: 134px;

    @media (max-width: 1354px) {
      margin-right: 104px;;
    }
  }

  &__left-h3 {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: #2b2b2b;
  }

  &__left-stores {
    display: flex;
  }

  &__left-stores-link {
    display: inline-block;
    width: 122px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    text-align: center;

    &_app-store {
      background-image: url('../../../../static/images/navigation/footer/app-store.png');
    }

    &_google-play {
      background-image: url('../../../../static/images/navigation/footer/google-play.png');
    }

    &_app-gallery {
      background-image: url('../../../../static/images/navigation/footer/app-gallery.png');
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__middle {
    align-self: flex-end;
    width: 220px;
    height: 206px;
    padding-left: 56px;
    padding-top: 71px;
    margin-right: 86px;
    background: url('../../../../static/images/navigation/footer/phone.png') no-repeat;
    background-size: contain;

    @media (max-width: 1354px) {
      margin-right: 56px;
    }
  }

  &__middle-img {
    width: 108px;
    height: 108px;
    border-radius: 10px;
    object-fit: contain;
  }

  &__right {
    font-size: 16px;
    line-height: 20px;
    color: #666;
  }
}