@import '../../../variables';

.main-unauth-favourites {
  width: 1000px;
  margin: 0 auto;
  padding: 33px 25px 0 25px;

  @media (min-width: 1354px) {
    width: 1300px;
  }

  &__title {
    font-size: 45px;
    line-height: 56px;
    font-weight: 500;
    padding: 0 10px 0 0;
    margin: 0 0 12px;
  }

  &__goods-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}