////////////////////////////COLORS

$yellow: #fc0;
$yellow-dark-hover: #f5c400;
$yellow-dark-active: #e8ba00;
$yellow-light-hover: #fae436;
$yellow-light-active: #faf67d;

$red: red;
$red-hover: #ec0000;
$red-dark-hover: #c00;

$gray: #e8e8e8;
$gray-hover: #dcdcdc;
$gray-active: #ccc;

$blue: #04b;